
<button class="btn btn-light" (click)="activarFiltrosUnicos()">
  <h3>{{switchActivarFiltros?'FILTRAR ⬆️':'FILTRAR ⬇️'}}  </h3>
</button>

<div *ngIf="switchActivarFiltros">
  <button   style="margin: 10px;color: white; " type="button" class="btn btn-dark" (click)="activarFiltroEspecialistas()" > Filtrar por Especialista 👨🏼‍🔬 </button>
  <button  style="margin: 10px;color: white; " type="button" class=" btn btn-dark" (click)="activarFiltroEspecialidades()">  Filtrar por Especialidad 🥼 </button>
  
  <button *ngIf="filtroAplicado" style="margin: 10px;color: white; " type="button" class="btn btn-danger" (click)="eliminarFiltros()"> ❌ Eliminar Filtros ❌ </button>
</div>

<table  *ngIf="switchFiltroEspecialista" class="table"  >
  <thead>
    <tr>
      <th scope="col">Nombre:</th>
      <th scope="col">Apellido:</th>
      <th  scope="col">Perfil:</th>  
      <th  scope="col"> Acción </th>
    </tr>
  </thead>
  <tbody *ngFor="let especialistA of listaEspeciaistas" >
    <tr>
      <td>{{especialistA?.nombre}}</td>
      <td>{{especialistA?.apellido}}</td>
      <td>{{especialistA.perfil}}</td>
      <td><button  style="margin: 10px;color: white; " type="button" class="btn btn-info" (click)="seleccionarEspecialistaParaFiltrar(especialistA)" > Elegir Especialista </button>
      </td>
    </tr>
  </tbody>
</table>
<table  *ngIf="switchFiltroEspecialidades" class="table"  >
  <thead>
    <tr>
      <th scope="col">Nombre:</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody *ngFor="let especialidad of listaEspedialidades" >
    <tr>
      <td><button style="margin: 10px;color: white; " type="button" class="btn btn-info" (click)="seleccionarEspecialidadParaFiltrar(especialidad)" >{{especialidad?.especialidad}}</button> </td>
      <td>
        <img src="" alt="" width="150">
      </td>
    </tr>
  </tbody>
</table>

<!-- LISTADO DE TDOSO LOS TURNOS -->
<table *ngIf="turnosCargados"  @transicionDer-Izq  class="table" >
    <thead>
      <tr>
        <th scope="col"> ID </th>
        <th scope="col">fecha</th>   
        <th scope="col">Paciente</th>
        <th scope="col">Obra Social</th>
        <th scope="col">Especialista</th>   
        <th scope="col">Area (Especialidad)</th>   
        <th scope="col">Estado</th>  
        <th scope="col">Acciones </th>

      </tr>
    </thead>
    <tbody *ngFor="let turno of listaTurnos" >
      <tr>
        <td> {{turno.id}} </td>
        <td>{{turno.fecha.toLocaleDateString()}}</td>
        <td>{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
        <td>{{turno.paciente.obraSocial}}</td>
        <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
        <td> {{turno.especialidad.especialidad}} </td>
        <td style="font-weight: bold;"> {{obtenerEstado(turno.status)}} </td>
        <td>
            <button *ngIf="turno.status == 1"  style="margin: 10px;color: black; " type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="preCancelarTurno(turno)" > Cancelar Turno </button>
            
        </td>
      </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Debes escribir un comentario para eliminar el turno ({{turnoSelectedForComentary.id}}) de {{turnoSelectedForComentary.paciente.nombre}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="formaComentario" (ngSubmit)="cancelarTurnoDefinitivo()" >
      <div class="modal-body">
        <div class="input-group">         
          <textarea class="form-control" aria-label="With textarea" placeholder="Ingresa una Reseña" formControlName="comentario" > </textarea>
          <small class="invalid" *ngIf="formaComentario.controls['comentario'].errors?.['required']&& formaComentario.controls['comentario'].touched" style="color:red ;">
            El comentario es requerido.
        </small>
        </div>
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" > Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="formaComentario.invalid" (click)="cancelarTurnoDefinitivo()">Cancelar  Turno</button>
      </div>
    </form>
    </div>
  </div>
</div>
