<main>
  
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../assets/bienvenida.png" alt="" width="360" height="285">
      <h1 class="display-5 fw-bold">¡Bienvenido!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><b>Especialista en salud</b>, cuenta actualmente con consultorios (6 en la actualidad),
            dos laboratorios (físicos en la clínica), y una sala de espera general. Está abierta al público de lunes a
            viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="goToLogin()">Iniciar Sesión </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="goToRegistro()">Registrarse </button>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>

  </main>