<main class="banner" style="width: 100%; height:100% ">

  <!-- LISTADOS SI EL TURNO LO SOLICITA UN ADMIN-->
  <div *ngIf="!especialistaSelected && currenUser.isAdmin "  class="d-flex " style="justify-content: center; align-items:center; align-content:center; " >
    <div *ngIf=" !pacienteSelected">
      <h2> Selecciona al  
        Paciente </h2>
      <div  *ngFor="let paciente of listaPacientes" class="col">
        <div class="card" style="width:200px">
          <button class="btn" (click)="seleccionarPaciente(paciente)">
          <img class="card-img-top" src={{paciente.fotosPerfil[0]}} alt="Card image" height="250px">
          <div class="card-body">
            <h4 class="card-title">{{paciente.nombre}} {{paciente.apellido}} </h4>
            <p class="card-text">Obra Social {{paciente.obraSocial}} </p>
          </div>
        </button>
        </div>
  
      </div>
    </div>
    

    <div *ngIf="pacienteSelected">
      <h2> Selecciona al  Especialista </h2>
      <div  *ngFor="let item of listaEspeciaistas" class="col">
        <div class="card" style="width:200px">
          <button class="btn" (click)="seleccionarEspecialista(item)">
          <img class="card-img-top" src={{item.fotosPerfil[0]}} alt="Card image" height="250px">
          <div class="card-body">
            <h4 class="card-title">{{item.nombre}} {{item.apellido}} </h4>
            <p class="card-text">- Sus especialidades: </p>
            <ul >
              <li *ngFor="let item of item.especialidad" > {{item.especialidad}} </li>
            </ul>
            <p class="card-text">- Edad: {{item.edad}}  </p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </button>
        </div>
     
      </div>
    </div>
  </div>









   <!-- LISTADOS SI EL TURNO LO SOLICITA UN PACIENTE-->
	<div *ngIf="!especialistaSelected && !currenUser.isAdmin "  class="row row-cols-1 row-cols-md-2 g-4">

    <div  *ngFor="let item of listaEspeciaistas" class="col">
      <div class="card" style="width:200px">
        <button class="btn" (click)="seleccionarEspecialista(item)">
        <img class="card-img-top" src={{item.fotosPerfil[0]}} alt="Card image" height="250px">
        <div class="card-body">
          <h4 class="card-title">{{item.nombre}} {{item.apellido}} </h4>
          <p class="card-text">- Sus especialidades: </p>
          <ul >
            <li *ngFor="let item of item.especialidad" > {{item.especialidad}} </li>
          </ul>
          <p class="card-text">- Edad: {{item.edad}}  </p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </button>
      </div>
   
    </div>


  </div>

  <!-- LISTADO DE ESPECIALIDADES DEL ESPECIALISTA SELCCIONADO-->
  <div *ngIf="especialistaSelected && !isEspecialidadSelected || especialistaSelected && currenUser.isAdmin && pacienteSelected && !isEspecialidadSelected  "  class="row row-cols-1 row-cols-md-2 g-4">
    <div  *ngFor="let item of listaEspedialidades" class="col">
      <div class="card" style="width:400px">
        <button class="btn" (click)="seleccionarEspecialidad(item)">
        <img class="card-img-top" src={{item.img}} alt="Card image" height="250px">
        <div class="card-body">
          <h4 class="card-title">{{item.especialidad}}</h4>
        </div>
      </button>
      </div>
   
    </div>


  </div>

  <!--Seleccion de FECHAS SI ES UN PACIENTE -->
  <div *ngIf="especialistaSelected && isEspecialidadSelected && !currenUser.isAdmin"  class="row row-cols-1 row-cols-md-2 g-4">
    <h2>Especialidad y Especialistas Seleccionados</h2>
    <button class="btn" >   </button>
    
    <div  class="col">
      <div class="card" style="width:300px">
        <button class="btn">
        <img class="card-img-top" src='https://www.infobae.com/new-resizer/z2MFc71qo7UzUeb53tcI9ma5ZwY=/1200x900/filters:format(webp):quality(85)//s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/01/09172720/PTM-visita-pediatraApertura.jpg' alt="Card image" height="250px">
        <div class="card-body">
          <h4 class="card-title">{{especialidadSeleccionada.especialidad}}</h4>
        </div>
      </button>
      </div>
   
    </div>

    <div  class="col">
    <div class="card" style="width:400px">
      <button class="btn" >
      <img class="card-img-top" src={{especialistaSeleccionado.fotosPerfil[0]}} alt="Card image" height="250px">
      <div class="card-body">
        <h4 class="card-title">{{especialidadSeleccionada.nombre}} {{especialidadSeleccionada.apellido}} </h4>
        <p class="card-text">- Sus especialidades: </p>
        <ul >
          <li *ngFor="let item of especialistaSeleccionado.especialidad" > {{item.especialidad}} </li>
        </ul>
        <p class="card-text">- Edad: {{especialidadSeleccionada.edad}}  </p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </button>
    </div>
    </div>

      <div  *ngIf="tieneDiasDisponibles" >
        <button *ngFor="let dia_ of fechasDisponiblesParaTurno" style="margin: 10px;color: black; " type="button" class="btn btn-secondary" (click)="seleccionarFechaTurno(dia_)">   {{dia_.toDateString()}} </button>

        <button *ngFor="let hora of horasDisponibles" style="margin: 10px;color: black; " type="button" class="btn btn-info" (click)="seleccionarHora(hora)"> {{hora.getHours()}}:{{hora.getMinutes()}} </button>
  
      </div>
      <div *ngIf="!tieneDiasDisponibles">
        <h1 style="color: red;"> EL ESPECIALISTA NO TIENE TURNOS DISPONIBLES PARA ESTA ESPECIALIDAD. </h1>
      </div>

      <button *ngIf="horaSelected" style="margin: 10px;color: black; " type="button" class="btn btn-success" (click)="crearTurno()"> Crear Turno ! </button>

     

  </div>

  <!--Seleccion de FECHAS SI ES UN ADMINISTRADOR -->
  <div *ngIf="especialistaSelected && isEspecialidadSelected && currenUser.isAdmin"  class="row row-cols-1 row-cols-md-2 g-4">
    <h2>Especialidad y Especialistas Seleccionados</h2>
   
    <!--PACIENTE-->
    <div  class="col">
      <div class="card" style="width:400px">
        <button class="btn" >
        <img class="card-img-top" src={{PacienteSeleccionado.fotosPerfil[0]}} alt="Card image" height="125px">
        <img class="card-img-top" src={{PacienteSeleccionado.fotosPerfil[1]}} alt="Card image" height="125px">
        <div class="card-body">
          <h4 class="card-title">{{PacienteSeleccionado.nombre}} {{PacienteSeleccionado.apellido}} </h4>
          <p class="card-text">- Obra Social: {{PacienteSeleccionado.obraSocial}} </p>
          
          <p class="card-text">- Edad: {{PacienteSeleccionado.edad}}  </p>

        </div>
      </button>
      </div>
      </div>
    <!--ESPECIALIDAD-->
    <div  class="col">
      <div class="card" style="width:400px">
        <button class="btn">
        <img class="card-img-top" src='https://www.infobae.com/new-resizer/z2MFc71qo7UzUeb53tcI9ma5ZwY=/1200x900/filters:format(webp):quality(85)//s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/01/09172720/PTM-visita-pediatraApertura.jpg' alt="Card image" height="250px">
        <div class="card-body">
          <h4 class="card-title">{{especialidadSeleccionada.especialidad}}</h4>
        </div>
      </button>
      </div>
   
    </div>

     <!--ESPECIALISTA-->
    <div  class="col">
    <div class="card" style="width:400px">
      <button class="btn" >
      <img class="card-img-top" src={{especialistaSeleccionado.fotosPerfil[0]}} alt="Card image" height="250px">
      <div class="card-body">
        <h4 class="card-title">{{especialidadSeleccionada.nombre}} {{especialidadSeleccionada.apellido}} </h4>
        <p class="card-text">- Sus especialidades: </p>
        <ul >
          <li *ngFor="let item of especialistaSeleccionado.especialidad" > {{item.especialidad}} </li>
        </ul>
        <p class="card-text">- Edad: {{especialidadSeleccionada.edad}}  </p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </button>
    </div>
    </div>

    <div  *ngIf="tieneDiasDisponibles" >
        <button *ngFor="let dia_ of fechasDisponiblesParaTurno" style="margin: 10px;color: black; " type="button" class="btn btn-secondary" (click)="seleccionarFechaTurno(dia_)">   {{dia_.toDateString()}} </button>

        <button *ngFor="let hora of horasDisponibles" style="margin: 10px;color: black; " type="button" class="btn btn-info" (click)="seleccionarHora(hora)"> {{hora.getHours()}}:{{hora.getMinutes()}} </button>
  
    </div>
    <div *ngIf="!tieneDiasDisponibles">
        <h1 style="color: red;"> EL ESPECIALISTA NO TIENE TURNOS DISPONIBLES PARA ESTA ESPECIALIDAD. </h1>
    </div>
    
    <button *ngIf="horaSelected" style="margin: 10px;color: black; " type="button" class="btn btn-success" (click)="crearTurno()"> Crear Turno ! </button>

     

  </div>

  </main>
