<main>
  <!-- 
  Especialidad
■ Especialista
■ Día y horario del turno.
-->
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h2>Solicitud de Turnos</h2>
      </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3 text-center">
          <span class="text-primary text-center">Especialidades</span>
         
        </h4>
        
        <!-- Tabla aca -->
        <table  class="table"  >
          <thead>
            <tr>
              <th scope="col">Nombre</th>   
              <th scope="col">Accion</th>   
            </tr>
          </thead>
          <tbody *ngFor="let item of listaEspedialidades" >
            <tr>
              <td>{{item?.especialidad}}</td>
              <td > <button class=" btn btn-info " type="submit" > Seleccionar </button>  </td>
            
            </tr>
          </tbody>
        </table>
        
      </div>
      
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Datos del turno</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            
            <div class="col-12">
              <h3 class="text-center"> Especialistas </h3>
                <!-- Tabla aca -->
                <table  class="table"  >
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>   
                      <th scope="col">Apellido</th>   
                      <th scope="col">Edad</th> 
                      <th scope="col">Especialidades</th>
                      <th scope="col">Acción</th>  
                  
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of listaEspeciaistas" >
                    <tr>
                      <td>{{item?.nombre}}</td>
                      <td>{{item?.apellido}}</td>
                      <td>{{item?.edad}}</td>
                      <td>
                        <ul>
                          <li *ngFor="let especialidadItem of item?.especialidad">
                              <span> {{especialidadItem.especialidad}} </span>
                          </li>
                        </ul>
                      </td>
                      <td > <button class=" btn btn-dark " type="submit" > Seleccionar </button>  </td>
                    
                    </tr>
                  </tbody>
                </table>
                
              
            </div>
            <div class="col-12">
              <label for="fecha_" class="form-label">Fecha del turno</label>
              <div class="input-group has-validation">
                <span class="input-group-text">⏰</span>
                <input type="text" class="form-control" id="fecha_" placeholder="" required>
             
              </div>
            </div> 

           
          </div>

          <hr class="my-4">

         

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
