
<main @transicionUp-Down>

  <div  class="text-center" >
    <h1>   ESTADÍSTICAS   </h1>
  </div>
  
  <button @transicionDer-Izq  *ngIf="logsCargados && turnosCargados && especialidadesCargadas && !datosListosTurnosxEspecialidades"  style="margin: 10px;color: white; " type="button" class="btn btn-success" (click)="generarPrimerasGraficas() " > Generar Gráficas  (TURNOS X ESPECIALIDAD  &&  TURNOS X DÍA )</button>
  
  
  <button @transicionDer-Izq *ngIf="turnosCargados && especialidadesCargadas "  style="margin: 10px;color: white; " type="button" class="btn btn-dark" (click)="mostrarFechas() " > Generar datos Grafico  (TURNOS SOLICITADOS X DÍA x ESPECIALISTA )</button>
  <button @transicionDer-Izq  *ngIf="turnosCargados && especialidadesCargadas "  style="margin: 10px;color: white; " type="button" class="btn btn-dark" (click)="mostrarFechas(true) " > Generar datos Grafico  (TURNOS FINALIZADOS X DÍA x ESPECIALISTA )</button>
  

  
  <div *ngIf="showFechasTurnoSolicitados" class="divFechas">
    
      <div class="text-center">
          <h3> Seleccionar Fechas </h3>
      </div>
  
      <form [formGroup]="formaFechas">
          <div class="row g-3">
              <div class="col-sm-6">
                  <input [matDatepicker]="basicDatepicker" placeholder="Fecha de inicio"  formControlName="fechaInicio" id="fechaI">
                  <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #basicDatepicker></mat-datepicker>
              </div>
         
              
              <div class="col-sm-6">
            
                  <input [matDatepicker]="basicDatepicker2" placeholder="Fecha Final"  formControlName="fechaFinal" id="fechaF">
                  <mat-datepicker-toggle [for]="basicDatepicker2"></mat-datepicker-toggle>
                  <mat-datepicker #basicDatepicker2></mat-datepicker>
              </div>
      
              <button  type="button" class="btn btn-success btnEstablecerFechas" (click)="seleccionarFechas()" [disabled]="formaFechas.invalid"  > Filtrar Turnos Realizados En estas fechas </button>
          </div>
         
      </form>
  </div>
  <div *ngIf="showFechasTurnoFinalizado" class="divFechas">
    
      <div class="text-center">
          <h3> Seleccionar Fechas Turnos Finalizados </h3>
      </div>
  
      <form [formGroup]="formaFechas2">
          <div class="row g-3">
              <div class="col-sm-6">
                  <input [matDatepicker]="basicDatepicker" placeholder="Fecha de inicio"  formControlName="fechaInicio" id="fechaI">
                  <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #basicDatepicker></mat-datepicker>
              </div>
         
              
              <div class="col-sm-6">
            
                  <input [matDatepicker]="basicDatepicker2" placeholder="Fecha Final"  formControlName="fechaFinal" id="fechaF">
                  <mat-datepicker-toggle [for]="basicDatepicker2"></mat-datepicker-toggle>
                  <mat-datepicker #basicDatepicker2></mat-datepicker>
              </div>
      
              <button  type="button" class="btn btn-success btnEstablecerFechas" (click)="seleccionarFechasTurnoFinalizado()" [disabled]="formaFechas2.invalid"  > Filtrar Turnos Realizados En estas fechas </button>
          </div>
         
      </form>
  </div>
  
  
  <div *ngIf="showLogs" id="tablaLogs" #tablaLogs >
    <div class="text-center">
      <h2>Logs Usuarios </h2>
  </div>
  <button class="btn" (click)="generarExcel()" >
    <img src="https://e7.pngegg.com/pngimages/108/891/png-clipart-microsoft-excel-computer-icons-export-microsoft-angle-logo-thumbnail.png" alt="" width="50px" height="50px">
  </button>
    <table  class="table"  >
      <thead>
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Nombre:</th>
          <th scope="col">Perfil</th>
          <th scope="col">Fecha - Hora </th>
          <th scope="col">¿Administrador?</th>
  
  
        </tr>
      </thead>
      <tbody *ngFor="let log of listaLogs" >
        <tr>
          <td>{{log?.id}}</td>
          <td>{{log?.usuario}}</td>
          <td> {{log?.perfil}} </td>
          <td> {{log?.fecha}} {{log?.horario}} </td>
          <td> {{log.isAdmin?'si':'no' }} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="datosListosTurnosxEspecialidades"   >
      <div class="text-center"> <h2> Turnos por Especialidad </h2> </div>
      <button class="btn" (click)="crearPdfxEspecialidad()" >
        <img src="https://www.roomdiseno.com/wp-content/uploads/2019/11/20-200075_pdf-icon-share-download-pdf-logo-png-transparent.png.jpg" alt="" width="50px" height="50px">
      </button>
      <div id="graficaTurnoxEspecialidad" #graficaTurnoxEspecialidad  >
        <x-chartist   [type]="type" [data]="data" [options]="options" > </x-chartist>
      </div>
     
  </div>
  
  <div  id="graficaTurnoxDia" #graficaTurnoxDia >
      <div *ngIf="datosListosTurnosxDias" class="text-center">  <h2> Turnos por Días </h2>  </div>
      <button *ngIf="datosListosTurnosxDias" class="btn" (click)="crearPdfxDia()" >
        <img src="https://www.roomdiseno.com/wp-content/uploads/2019/11/20-200075_pdf-icon-share-download-pdf-logo-png-transparent.png.jpg" alt="" width="50px" height="50px">
      </button>
     <!-- <x-chartist *ngIf="datosListosTurnosxDias"  [type]="type" [data]="dataTurnosxDia" [options]="options" > </x-chartist> --> 
      <canvas id="chartJSXdia"  style="max-height:  400px;" ></canvas>
  </div>
  
  <div  id="graficaTurnoSolicitado" #graficaTurnoSolicitado >
      <div *ngIf="datosListosTurnosSolicitados" class="text-center">
         <h2> TURNOS   SOLICITADOS </h2>
         <p>Mostrando entre {{fechaInicioTurnosSolicitado.toLocaleDateString()}} - {{fechaFinalTurnosSolicitado.toLocaleDateString()}} </p>
      </div>
  
       <button  *ngIf="datosListosTurnosSolicitados"class="btn" (click)="crearPdfSolicitado()" >
        <img src="https://www.roomdiseno.com/wp-content/uploads/2019/11/20-200075_pdf-icon-share-download-pdf-logo-png-transparent.png.jpg" alt="" width="50px" height="50px">
      </button>
      <!--<x-chartist  [type]="type2" [data]="dataTurnosSolicitadosxEspecialistaxRangoFecha" [options]="options2" > </x-chartist>--> 
      <canvas id="chartJSxSolicitados"  style="max-height:  400px;" ></canvas>
  </div>
  
  <div  id="graficaTurnoFinalizado" #graficaTurnoFinalizado >
      <div *ngIf="datosListosTurnosFinalizados" class="text-center">
         <h2> TURNOS FINALIZADOS </h2> 
         <p>Mostrando entre {{fechaInicioTurnosFinalizados.toLocaleDateString()}} - {{fechaFinalTurnosFinalizados.toLocaleDateString()}} </p>
      
        </div>
      <button *ngIf="datosListosTurnosFinalizados" class="btn" (click)="crearPdfFinalizado()" >
        <img src="https://www.roomdiseno.com/wp-content/uploads/2019/11/20-200075_pdf-icon-share-download-pdf-logo-png-transparent.png.jpg" alt="" width="50px" height="50px">
      </button>
     <!--  <x-chartist *ngIf="hayDatosTurnoFinalizado"  [type]="type" [data]="dataTurnosFinalizadosxEspecialistaxRangoFecha" [options]="options" > </x-chartist> -->
      <canvas id="chartJSxFinalizados"  style="max-height:  400px;"  ></canvas>

  </div>
  
</main>
