.divFechas{
width: '100%';
margin-left: 20px;
margin-right: 20px;
}
.labelFecha{
margin-right: 10px;
margin-left: 10px; 
}
.btnEstablecerFechas{
    width: 50%;
    align-self: center;
    margin: 10px;
    color: white; 
}
/*#graficaTurnoxEspecialidad{
    width: 580px;
    height: 500px;
}
#graficaTurnoxDia{
    width: 580px;
    height: 500px;
}
#graficaTurnoSolicitado{
    width: 580px;
    height: 500px;
}
#graficaTurnoFinalizado{
    width: 580px;
    height: 500px;
}*/
