.contenedor{
    background-color: aqua;
}

.btn-usuario{
    width: 300px;
    height: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:30px
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
}
.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 30px;
    height: 300px;
    width: 200px;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #000000;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}