<div class="row g-5">    
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">{{altaAdmin?'Registro administradores':'Registro de Especialista'}}</h4>
      <form [formGroup]="altaAdmin?formaAdmin:formaEspecialista" (ngSubmit)="altaAdmin?registrarAdmin():registrarEspecialista()" >
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" formControlName="nombre" >
            <small class="invalid" *ngIf="formaEspecialista.controls['nombre'].errors?.['required']&& formaEspecialista.controls['nombre'].touched" style="color:red ;">
                El Nombre es requerido
            </small>
          </div>

          <div class="col-sm-6">
            <label for="lastNameE" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastNameE" placeholder="" formControlName="apellido" >
            <small class="invalid" *ngIf="formaEspecialista.controls['apellido'].errors?.['required']&& formaEspecialista.controls['apellido'].touched" style="color:red ;">
                El Apellido es requerido
            </small>
            
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Edad</label>
            <input type="text" class="form-control" id="lastName" placeholder=""  formControlName="edad" >
            <small class="invalid" *ngIf="formaEspecialista.controls['edad'].errors?.['required']&& formaEspecialista.controls['edad'].touched" style="color:red ;">
                La edad es requerida
            </small>
          </div>

          <div class="col-12">
            <label for="correo" class="form-label">Correo</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" id="correo" placeholder="Username" formControlName="email">
              <small class="invalid" *ngIf="formaEspecialista.controls['email'].errors?.['required']&& formaEspecialista.controls['email'].touched" style="color:red ;">
                El email es requerido
               </small>
               <small class="invalid" *ngIf="formaEspecialista.controls['email'].errors?.['email']&& formaEspecialista.controls['email'].touched" style="color:red ;">
                Ingrese un formato valido
               </small>
            </div>
          </div>

          <div class="col-12">
            <label for="dni" class="form-label" >Dni</label>
            <input type="text" class="form-control" id="dni" placeholder="" formControlName="nombre2">
            <small class="invalid" *ngIf="formaEspecialista.controls['nombre2'].errors?.['required']&& formaEspecialista.controls['nombre2'].touched" style="color:red ;">
                El DNI es requerido
            </small>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">contraseña</label>
            <input type="password" class="form-control" id="address" placeholder="" formControlName="password">
            <small class="invalid" *ngIf="formaEspecialista.controls['password'].errors?.['required']&& formaEspecialista.controls['password'].touched" style="color:red ;">
                La contraseña es requerida
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['password'].errors?.['minlength']&& formaEspecialista.controls['password'].touched" style="color:red ;">
              La contraseña debe tener al menos 6 caracteres
          </small>
          </div>


          <div *ngIf="!altaAdmin" class="col-12">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Especialidad</label>
            <hr class="my-4">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"    formControlName="especialidad" style="margin-right: 30px;" >
              <option  value='addEspecialidad'> Agregar Especialidad.</option>
              <option *ngFor="let especilidad of listaEspecialidades" value={{especilidad.id}} > {{especilidad.especialidad}} </option>
            </select> 
            <button type="button" class="btn btn-secondary" (click)="habilitarNewEspecialidad()" >Agregar Especialidad Propia</button>
            <small class="invalid" *ngIf="formaEspecialista.controls['especialidad'].errors?.['required']&& formaEspecialista.controls['especialidad'].touched" style="color:red ;">
              La Especialidad es requerida
          </small>
          </div>

          <div *ngIf="formaEspecialista.value.especialidad==='addEspecialidad'" class="col-12" style="border-color: aqua;border: width 10px;">
            <form [formGroup]="formaNewEspecialidad">
            <label class="mr-sm-2" for="nameEspecialidad" style="color: green;"> Agregar Nueva Especialidad</label>
              <input type="text" class="form-control" id="nameEspecialidad" placeholder="Nombre de la especialidad" formControlName="nombreEspecialidad" style="margin-bottom: 10px;">
              <small class="invalid" *ngIf="formaNewEspecialidad.controls['nombreEspecialidad'].errors?.['required']&& formaNewEspecialidad.controls['nombreEspecialidad'].touched" style="color:red ;">
                La nombre de la especialidad es requerido.
              </small>
              <input type="number" min="30" class="form-control" id="address" placeholder="por defecto será de (30 min)" formControlName="duracion">
            
           
          <hr class="my-4">
            </form>
          </div>
          
          <div class="col-12">
            <label for="address2" class="form-label">Elige una foto de perfil!</label>
            <input type="file" accept=".png, .jpg, .jpeg" multiple class="form-control" id="address2" formControlName="foto" (change)="altaAdmin?cargarImagenLocalAdmin($event) :cargarImagenLocalEspecialista($event)">
            <small class="invalid" *ngIf="formaEspecialista.controls['foto'].errors?.['required']&& formaEspecialista.controls['foto'].touched" style="color:red ;">
                La Foto es requerida
            </small>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <img *ngIf="loading" src="../../../assets/registro/loading.gif" alt="imagenSubida" class="gifCargando" width="150px" height="150px">
        </div>
        <hr class="my-4">

   
        <button *ngIf="!agregarEspecialidad" class="w-100 btn btn-primary btn-lg" type="submit" [disabled]=" altaAdmin?formaAdmin.invalid:formaEspecialista.invalid"> {{!altaAdmin? "Registrar Especialista!":"Registrar Administrador"}}</button>
       
      </form>
    </div>
  </div>