<h2> Usuarios Pacientes </h2>
<table  class="table"  >
    <thead>
      <tr>
        <th scope="col">Nombre:</th>
        <th scope="col">Apellido:</th>
        <th scope="col">Edad:</th>
        <th scope="col">Dni:</th>
        <th  scope="col">ObraSocial:</th>
        <th  scope="col">Especialidad:</th>
        <th scope="col">Email:</th>
        <th scope="col">Perfil:</th>
        <th scope="col">Validacion @ :</th>


       
      </tr>
    </thead>
    <tbody *ngFor="let usuario of listaUsuarios" >
      <tr>
        <td>{{usuario?.nombre}}</td>
        <td>{{usuario?.apellido}}</td>
        <td>{{usuario?.edad}}</td>
        <td>{{usuario?.dni}}</td>
        <td>{{usuario.obraSocial != undefined ?usuario.obraSocial:''}}</td>
        <td>{{usuario.especialidad != undefined?usuario.especialidad:''}}</td>
        <td>{{usuario?.email}}</td>
        <td>{{usuario?.perfil}}</td>
        <td *ngIf="usuario.perfil == 'Especialista' && !usuario.valid" > <button type="button" class="btn btn-success" (click)="updateValidate(usuario.idCollection)" > Validar </button> </td>
        <td *ngIf="usuario.perfil == 'Especialista' && usuario.valid" style="color: green;" > Validado ✅ </td>
      </tr>
    </tbody>
  </table>
