body{
    background-color: #BDDCE1;
}
html{
    background-color: #BDDCE1;
}
.container {
    max-width: 1060px;
    background-color: #BDDCE1;
    margin-top: 30px;
    padding: 50px;
    border-radius: 20px;
  }
.img-account-profile {
    height: 10rem;
    width: 10rem;
}
.rounded-circle {
    border-radius: 20% !important;
}